<% if obj.errors.any? %>
  <%= pluralize(@recipe.errors.count, "error") %>
  prohibited this <%= obj.class %> from being saved:
    <div class="panel-body">
      <ul>
        <% obj.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>