<div class="jumbotron center">
  <h1 class="display-4">Welcome to MyRecipes</h1>
  <h2 class="lead">The best recipe app on the web.</h2>
  <a class="btn btn-primary btn-lg btn-xlarge" href="#" role="button"></a>
</div>


