<div class="jumbotron center">
  <h1 class="display-4">Welcome to MyRecipes</h1>
  <h2 class="lead">The best recipe app on the web.</h2>
  <p><%= link_to 'Sign up or log in', signup_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>

  
