@import "bootstrap";

.jumbotron {
  background-image: asset-url('cover_image.jpg');
  background-size: cover;
  height: 300px;
}

.jumbotron h1, h2 {
  color: white;
  margin-bottom: 30px;
  font-weight: bold;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #black;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #red;
  text-decoration: none;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.description {
  margin-top: 0;
}

.well a {
  color: teal;
}

.gravatar {
  border-radius: 50%;
}

.chef_info {
  margin-top: 10px;
}

.btn-xlarge {
  background-color: teal;
}

.colormatch a {
  color: teal;
}

.recipe-actions {
  padding-top: 5px;
}

.recipe-actions a {
  color: white;
}

.listing {
  list-style: none;
  padding-left: none;
}

.chef-title {
  color: teal;
  font-weight: bold;
  font-size: 1.25em;
}

.well {
  background-color: #dcdcdc;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.container {
  text-align: center;
}

.gravatar {
  border-radius: 50%;
}

.footer {
  padding-right: 50px;
  padding-top: 20px;
}

.img-circle {
  border-radius: 50%;
}

.profile {
  padding-bottom: 30px;
}

.card {
  margin: auto;
}

.input_checkbox input {
  width: auto !important;
  text-align:center;
  margin: 0 10px 0;
}


